.vscode
.eslintignore
.eslintrc.js
.prettierignore
.editorconfig
tsconfig.*.json
babel.config.js
jest.config.js
prettier.config.js
vite.config.ts
webpack.config.js
*.tsbuildinfo

# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode
.yarnclean
.history

# Directories
coverage/
dist/
dts/
esm/
mjs/
cjs/
node_modules/

# Custom
*.min.js
*.map

.DS_Store
*.local
